body {
    background-color: #f2f8f8 !important;
}

#my_nav {
    padding: 15px 40px 15px 40px;
}

.nav_logut_Btn {
    margin-left: 17px !important;
    padding: 5px 15px 5px 15px !important;
}

.dropdown-menu {
    width: 300px !important;
    height: 285px !important;
    background-color: whitesmoke;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}

#user_profile_dropdown,
#user_profile_img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 20px;
    cursor: pointer;
}


#user_dropdown_img {
    display: inline-block;
    vertical-align: top;
    margin-top: 12px;
    margin-left: 5px;
}

#user_name {
    display: inline-block;
    margin-top: 9px;
}

#hello_user {
    margin-bottom: 1px;
    font-size: 14px;
    color: rgb(114, 112, 112);
}

#profile_userName {
    font-size: 20px;
    font-weight: 700;
}

.features {
    margin: 5px 5px 15px 15px;
}

.icons {
    font-size: 17px !important;
    padding-right: 7px;
    color: rgb(6, 49, 6);
    cursor: pointer;
}


#search_todo {
    width: 800px !important;
    margin-left: 70px;
}

@media screen and (max-width: 1250px) {
    #search_todo {
        width: 700px !important;
    }
}

@media screen and (max-width: 1080px) {
    #search_todo {
        width: 600px !important;
    }
}


@media screen and (max-width: 992px) {
    #search_todo {
        width: 100% !important;
        margin-left: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #user_profile_dropdown {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 0px;
        cursor: pointer;
    }

    .nav_logut_Btn {
        margin-left: 0px !important;
        padding: 5px 15px 5px 15px !important;
    }

}

.email_icon {
    color: grey !important;
    font-size: 13px !important;
}

#user_email {
    color: grey;
    font-size: 15px;
    margin-left: 3px;
}

.features_names {
    color: rgb(3, 29, 3);
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}

#my_todos_link {
    text-decoration: none;
}


#todos_main_div {
    margin: auto;
    width: 90%;
    padding: 20px;
    place-items: center;
    display: grid;
}

#add_todo_div {
    background-color: white;
    padding: 20px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
    margin-bottom: 10px;
}


.editBtn,
.delBtn {
    float: right;
    margin: 5px;
    border: none;
    background: none;
}


#todo_field {
    width: 900px !important;
    margin: 0px;
    display: inline-block;
    height: 35px;
    border: 1px solid rgb(184, 176, 176);
    font-size: 15px;
    padding: 6px;
}



#add_task_btn {
    display: inline-block;
    margin-left: 0px;
    height: 34px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(19, 0, 87);
    color: white;
}

#todos_div {
    margin: auto;
    width: 100%;
    padding: 20px;
    place-items: center;
    display: grid;
    background-color: #f2f8f8 !important;
}

.todo {
    background-color: white !important;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
    width: 75%;
    margin: 10px;
    padding: 15px;
}

.todo_text {
    display: inline;
    font-family: sans-serif;
}

.fa-pencil {
    color: rgb(19, 0, 87);
}

.fa-trash-o {
    color: red;
}