/* whole body color */
body {
    background-color: #f2f8f8 !important;
}

/* Navbar styling */
#my_nav {
    padding: 15px 40px 15px 40px;
}

/* Navbar logout button */
.nav_logut_Btn {
    margin-left: 17px !important;
    padding: 5px 15px 5px 15px !important;
}

/* Navbar User Profile dropdown Styling  */
#user_profile_dropdown,
#user_profile_img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 20px;
    cursor: pointer;
}

.dropdown-menu {
    width: 300px !important;
    height: 285px !important;
    background-color: whitesmoke;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}

#user_dropdown_img {
    display: inline-block;
    vertical-align: top;
    margin-top: 12px;
    margin-left: 5px;
}

#user_name {
    display: inline-block;
    margin-top: 9px;
}

#hello_user {
    margin-bottom: 1px;
    font-size: 14px;
    color: rgb(114, 112, 112);
}

#profile_userName {
    font-size: 20px;
    font-weight: 700;
}

.features {
    margin: 5px 5px 15px 15px;
}

.icons {
    font-size: 17px !important;
    padding-right: 7px;
    color: rgb(6, 49, 6);
    cursor: pointer;
}

.email_icon {
    color: grey !important;
    font-size: 13px !important;
}

#user_email {
    color: grey;
    font-size: 15px;
    margin-left: 3px;
}

.features_names {
    color: rgb(3, 29, 3);
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}

#my_todos_link {
    text-decoration: none;
}

/*  Navbar dropdown Styling End */


/* Navbar Search Todo styling */
#search_todo {
    width: 850px !important;
    margin-left: 100px;
}

@media screen and (max-width: 1250px) {
    #search_todo {
        width: 700px !important;
    }

    #todo_field {
        width: 700px !important;
    }

}

@media screen and (max-width: 1160px) {
    #search_todo {
        width: 600px !important;
        margin-left: 20px;
    }


}

@media screen and (max-width: 992px) {
    #search_todo {
        width: 100% !important;
        margin-left: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /* user profile dropdown responsivness */
    #user_profile_dropdown {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 0px;
        cursor: pointer;
    }

    /* nav logout button responsiveness */
    .nav_logut_Btn {
        margin-left: 0px !important;
        padding: 5px 15px 5px 15px !important;
    }

}

/* Navbar Search Todo styling End*/



/* Todos Main Div styling */
#todos_main_div {
    margin: auto;
    padding: 20px;
    place-items: center;
    display: grid;
}



/* Todos Div Styling */
#todos_div {
    margin: auto;
    width: 100%;
    padding: 20px;
    place-items: center;
    display: grid;
    background-color: #f2f8f8 !important;
}



/* Add Todo Div styling */
#add_todo_div {
    background-color: white;
    padding: 20px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
    margin-bottom: 10px;
}




/*          Todos Div Styling              */


/* Todo List Heading Styling */
#todo_list_heading {
    font-size: 30px;
    font-family: sans-serif;
    color: blue;
    border: none;
}




#todo_field {
    width: 900px !important;
    margin: 0px;
    display: inline-block;
    height: 35px;
    border: 1px solid rgb(184, 176, 176);
    font-size: 15px;
    padding: 6px;
}


/* Add todo button styling */
#add_task_btn {
    display: inline-block;
    margin-left: 0px;
    height: 34px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(19, 0, 87);
    color: white;
}


/* Responsiveness of add Todo Div elements */
@media screen and (max-width: 1050px) {
    #todo_field {
        width: 650px !important;
    }

    #add_task_btn {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 15px;
    }
}

@media screen and (max-width: 910px) {
    #todo_field {
        width: 80% !important;
    }

    #add_todo_div {
        width: 100% !important;
    }

    #add_task_btn {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 15px;
    }
}

@media screen and (max-width: 1081px) {
    #todo_field {
        width: 85% !important;
    }

    #add_todo_div {
        width: 90% !important;
    }
}

@media screen and (max-width: 730px) {
    #todo_field {
        width: 80% !important;
    }

    #add_todo_div {
        width: 93% !important;
    }
}


@media screen and (max-width: 570px) {
    #todo_field {
        width: 75% !important;
    }

    #add_todo_div {
        width: 100% !important;
    }
}

/*         End           */






/* Separate todo styling */
.todo {
    background-color: white !important;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
    width: 65%;
    margin: 10px;
    padding: 15px;
}


/* Responsiveness of todo separate todo div */
@media screen and (max-width: 480px) {
    #todo_field {
        width: 73% !important;
    }

    #add_todo_div {
        width: 100% !important;
    }

    .todo {
        width: 95% !important;
    }
}

@media screen and (max-width: 410px) {
    #todo_field {
        width: 65% !important;
    }

    #add_todo_div {
        width: 100% !important;
    }
}


@media screen and (max-width: 800px) {
    .todo {
        width: 80%;
    }
}

@media screen and (max-width: 600px) {
    .todo {
        width: 90%;
    }
}

/* Todo value styling */
.todo_text {
    display: inline;
    font-family: sans-serif;
}


/* Edit and delete button styling */
.editBtn,
.delBtn {
    float: right;
    margin: 5px;
    border: none;
    background: none;
}

/* edit button icon styling  */
.fa-pencil {
    color: rgb(19, 0, 87);
    cursor: pointer;
}

/* delete button icon styling  */
.fa-trash-o {
    color: red;
    cursor: pointer;
    border: none;
}








/*           Edit Todo MODAL STYLING          */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    /* Sit on top */
    padding-top: 130px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content Styling*/
.modal-content {
    position: relative;
    margin: auto;
    padding: 20px 15px 10px 15px;
    border: 1px solid #888;
    width: 45% !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@media screen and (max-width: 650px) {
    .modal-content {
        width: 70%;

    }
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* close modal button styling*/
.close_modal_btn {
    margin-right: 8px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    float: right;
    display: inline;
    color: grey;
}


/* Modal Heading */
#modal_heading {
    display: inline;
    font-size: 21px;
    font-weight: 500;
}


/* Modal buttons (Save changes and Cancel) */
#edit_modal_btns {
    margin: 40px 5px 10px 5px;
}


/* Edit Button */
#modal_edit_btn {
    background-color: rgb(19, 0, 87);
    color: white;
    border-radius: 4px;
    padding: 5px 13px 5px 13px;
    font-size: 15px;
    border: none;
    margin-right: 5px;
    float: right;
}


/* Cancel button */
#modal_cancel_btn {
    background-color: grey;
    color: white;
    border-radius: 4px;
    padding: 5px 13px 5px 13px;
    font-size: 15px;
    border: none;
    margin-right: 5px;
    float: right;
}


/* Edit Todo Field Styling */
#edit_todo {
    margin-top: 20px;
    width: 50%;
    border: 2px solid grey;
    height: 40px;
}

@media screen and (max-width: 1000px) {
    .modal-content {
        width: 55% !important;
    }
}

@media screen and (max-width: 750px) {
    .modal-content {
        width: 65% !important;
    }
}

@media screen and (max-width: 620px) {
    .modal-content {
        width: 80% !important;
    }
}

@media screen and (max-width: 450px) {
    .modal-content {
        width: 90% !important;
    }
}

/*               END            */