/* whole body color */
body {
    background-color: #f2f8f8;
}


/* Sign Up form div styling*/
#signUp_form_div {
    margin: auto;
    width: 40%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 13px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    color: black;
    margin-top: 55px;
    margin-bottom: 30px;
    padding: 7px 2px 20px 2px !important;
}


/* Responsiveness of Sign Up Form Div */
@media screen and (max-width: 850px) {
    #signUp_form_div {
        width: 70%;
    }
}

@media screen and (max-width: 550px) {
    #signUp_form_div {
        width: 80%;
    }
}

@media screen and (max-width: 450px) {
    #signUp_form_div {
        width: 85%;
    }
}

@media screen and (max-width: 400px) {
    #signUp_form_div {
        width: 90%;
    }
}


/* Create account heading */
#create_account_heading {
    margin-top: 30px;
    margin-bottom: 35px;
    font-size: 30px;
    font-weight: 600;
    font-family: sans-serif;
}

/* input fields styling */
input {
    height: 30px;
    width: 43%;
    margin-top: 20px;
    border: 0px;
    background: none;
    border-bottom: 2px solid grey;
    color: black;
    font-size: 16px;
}

/* autofill input fields styling */
input:-webkit-autofill,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px white inset ! important;
}


/* input on focus styling */
input:focus {
    outline: none;
}


/* placeholder styling */
::placeholder {
    font-weight: 500;
}


/* gender field styling */
#gender {
    width: 43%;
}


/* responsiveness of input fields and gender */
@media screen and (max-width: 900px) {

    input,
    #gender {
        width: 50%;

    }
}

@media screen and (max-width: 500px) {

    input,
    #gender {
        width: 55%;

    }
}

@media screen and (max-width: 390px) {

    input,
    #gender {
        width: 60%;

    }
}

/* ends here */



/* Alert box styling */
#alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    display: none;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 4px;
}

/* Alert box close button styling */
#closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

#closebtn:hover {
    color: black;
}

/* Alert box styling end */





/* Show password div styling */
#show_password_div {
    width: 78%;
    margin-bottom: 16px;
}

/* show and hide password checkbox styling */
#checkBox {
    height: 13px !important;
    width: 15px;
}

/* Show password text styling */
#show_password_text {
    padding-left: 4px;
    font-size: 13px;
    font-weight: 500;
}




/* Sign Up button styling */
#signUp_btn {
    margin: 6px 5px 10px 5px;
    padding: 7px 30px 8px 30px;
    border-radius: 45px;
    font-weight: 700;
    border: none;
    background-color: rgb(224, 224, 238);
}

#signUp_btn:hover {
    background-color: #f2f8f8;
    transition: all;
}


/* already have an account(last line) styling */
#already_have_an_account {
    font-size: 14px;
    margin-top: 5px;
    font-weight: 500;
}

/* Login link styling */
#login_link {
    font-weight: 600;
    color: rgb(19, 0, 87);
    font-size: 16px;
}

/* END */







/*             LOADER STYLING              */
#loader {
    display: none;
    position: absolute;
    top: 45%;
    left: 48%;
    transform: translate(0, -50%);
    padding: 10px;
    position: absolute;
    border: 7px solid #f3f3f3;
    border-radius: 50%;
    border-top: 7px solid #3498db;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}