/* whole body color */
body {
    /* background-color: rgb(215, 219, 220); */
    background-color: #f2f8f8 !important;
}


/* Login form div styling*/
#login_form_div {
    margin: auto;
    width: 40%;
    /* box-shadow: 0px 0px 3px 1px gray; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 13px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    /* background-color: rgb(19, 0, 87); */
    /* color: white; */
    color: black;
    background-color: white;
    box-shadow: 2;
    margin-top: 80px;
    margin-bottom: 30px;
    padding: 7px 2px 20px 2px !important;
}

@media screen and (max-width: 850px) {
    #login_form_div {
        width: 70%;
    }

    #show_password_div {
        width: 40%;
    }

}

@media screen and (max-width: 550px) {
    #login_form_div {
        width: 80%;
    }

    #show_password_div {
        width: 85% !important;
    }
}

@media screen and (max-width: 500px) {
    #login_form_div {
        width: 90%;
    }

    #show_password_div {
        width: 90% !important;
    }
}




/* login heading */
#login_heading {
    margin-top: 50px;
    margin-bottom: 35px;
    font-size: 30px;
    font-weight: 600;
    font-family: sans-serif;
}



/* input fields styling */
input {
    height: 30px;
    width: 43%;
    margin-top: 50px;
    border: 0px;
    /* background-color: whui; */
    border-bottom: 2px solid grey;
    color: black;
    font-size: 18px;
}

::placeholder {
    font-weight: 500;
}

#show_password {
    font-size: 16px;
    font-weight: 500;
}


#login_btn {
    padding: 7px 30px 8px 30px;
    border-radius: 45px;
    font-weight: 700;
    border: none;
    font-size: 18px;
    background-color: rgb(224, 224, 238);
}

#login_btn:hover {
    background-color: rgb(223, 241, 241);
    transition: all;
}






input:-webkit-autofill,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px white inset ! important;
}

/* input on focus styling */
input:focus {
    outline: none;
}


#show_password_div {
    width: 77%;
    text-align: center;
}

#show_password_box {
    height: 17px !important;
    width: 20px;
    margin: 20px 3px 40px 4px;

}

@media screen and (max-width: 1200px) {
    #show_password_div {
        width: 84% !important;
    }
}


/* already have an account(last line) styling */
#dont_have_an_account {
    font-size: 17px;
    margin-top: 5px;
    font-weight: 500;
}

/* Login link styling */
#signUp_link {
    font-size: 18px;
    font-weight: 600;
    color: rgb(19, 0, 87);

}

/* END */


/* alert box styling */
#alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    display: none;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 4px;
}

#closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

#closebtn:hover {
    color: black;
}

/* end */









#loader {
    display: none;
    position: absolute;
    top: 38%;
    left: 48%;
    transform: translate(0, -50%);
    padding: 10px;
    position: absolute;
    border: 7px solid #f3f3f3;
    border-radius: 50%;
    border-top: 7px solid #3498db;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    animation: spin 2s linear infinite;

}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}